<div class="row">
  <div class="col-12 text-center mt-3">
    <filters-row (dateChange)="onDateChange($event)"></filters-row>
  </div>
</div>
<agm-map
  [latitude]="latitude"
  [longitude]="longitude"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
>
  <agm-marker
    *ngFor="let m of markers; let i = index"
    (markerClick)="clickedMarker(infoWindow)"
    [latitude]="m.latitude"
    [longitude]="m.longitude"
  >
    <agm-info-window #infoWindow>
      <a routerLink="/statistics/stores/{{ m.id }}/name/{{ m.name }}">{{
        m.name
      }}</a>
      <br />
      <strong>Total Videos Sent: {{ m.total }}</strong>
    </agm-info-window>
  </agm-marker>

  <!-- <agm-circle
    [latitude]="lat + 0.3"
    [longitude]="lng"
    [radius]="5000"
    [fillColor]="'red'"
    [circleDraggable]="true"
    [editable]="true"
  >   </agm-circle>-->
</agm-map>
