<agm-map
  [latitude]="latitude"
  [longitude]="longitude"
  [zoom]="zoom"
  [zoomControl]="true"
>
  <agm-marker
    *ngFor="let m of markers; let i = index"
    [latitude]="m.store.latitude"
    [longitude]="m.store.longitude"
  >
    <agm-info-window #infoWindow [isOpen]="true">
      <a
        routerLink="/statistics/stores/{{ m.store.id }}/name/{{ m.store.name }}"
        >{{ m.store.name }}</a
      >
      <br />
      <strong>Total Videos Sent: {{ m.total }}</strong>
    </agm-info-window>
  </agm-marker>

  <!-- <agm-circle
    [latitude]="lat + 0.3"
    [longitude]="lng"
    [radius]="5000"
    [fillColor]="'red'"
    [circleDraggable]="true"
    [editable]="true"
  >   </agm-circle>-->
</agm-map>
