.action {
  cursor: pointer;
}
.table-header-btn {
  margin-left: 40%;
}
@media (min-width: 576px) {
  .table-header-btn {
    margin-left: 41%;
  }
}
@media (min-width: 768px) {
  .table-header-btn {
    margin-left: 56%;
  }
}
@media (min-width: 990px) {
  .table-header-btn {
    margin-left: 67%;
  }
}

@media (min-width: 1200px) {
  .table-header-btn {
    margin-left: 73%;
  }
}
