<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" routerLink="/users">User Management</a>
    <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>
<img
  class="ml-dynamic-data-img bh-logo imgRespId"
  src="https://www.helzberg.com/images/set_a/en_us/global/globalnav/helzberg-diamonds-logo-black.png"
  alt="Helzberg Diamonds a Berkshire Hathaway Company Home"
  id="imgResponsiveId"
/>
<!-- main app container -->
<div class="container">
  <div class="row">
    <div class="col-12">
      <alert></alert>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- credits -->
<!-- <div class="text-center">
    <p>
        <a href="http://jasonwatmore.com/post/2018/10/29/angular-7-user-registration-and-login-example-tutorial" target="_top">Angular 7 - User Registration and Login Example & Tutorial</a>
    </p>
    <p>
        <a href="http://jasonwatmore.com" target="_top">JasonWatmore.com</a>
    </p>
</div> -->
