<!-- nav -->
<!-- <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" routerLink="/users">User Management</a>
    <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav> -->

<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark rounded"
  *ngIf="currentUser"
>
  <!-- <a class="navbar-brand" href="/">Helzberg Admin Panel</a> -->
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/users" routerLinkActive="active"
        >User Management</a
      >
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" (click)="logout()">Logout</a>
    </li>
  </ul>
</nav>

<img
  *ngIf="currentUser"
  class="ml-dynamic-data-img bh-logo imgRespId"
  src="https://www.helzberg.com/images/set_a/en_us/global/globalnav/helzberg-diamonds-logo-black.png"
  alt="Helzberg Diamonds a Berkshire Hathaway Company Home"
  id="imgResponsiveId"
/>
<!-- main app container -->
<div class="container">
  <div class="row">
    <div class="col-12">
      <alert></alert>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
