<div class="row">
  <div class="col-12 text-center mt-3">
    <filters-row (dateChange)="onDateChange($event)"></filters-row>
  </div>
</div>
<div class="row">
  <div class="col-12 mb-5">
    <p-toggleButton
      [(ngModel)]="checked"
      onLabel="Switch To Pie Chart"
      offLabel="Switch To line Chart"
    ></p-toggleButton>
  </div>
</div>

<div class="row">
  <div class="col-10 offset-1">
    <p-chart
      *ngIf="checked"
      type="line"
      [data]="dataForLineChart"
      [options]="options"
    ></p-chart>
    <p-chart
      *ngIf="!checked"
      type="doughnut"
      [data]="dataForPieChart"
    ></p-chart>
  </div>
</div>
