<div class="row">
  <div class="col-12 text-center mt-3">
    <filters-row (dateChange)="onDateChange($event)"></filters-row>
  </div>
</div>
<div class="container">
  <div class="table-header mt-2">
    <mat-form-field>
      <input
        matInput
        (keyup)="applyFilter($event.target.value)"
        placeholder="Filter"
      />
    </mat-form-field>
  </div>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="storename">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Store Name</th>
      <td mat-cell *matCellDef="let element">
        <a
          routerLink="/statistics/stores/{{ element.store?.id }}/name/{{
            element.store?.name
          }}"
          routerLinkActive="active-link"
          >{{ element.storename }}</a
        >
      </td>
    </ng-container>
    <!-- City Column -->
    <ng-container matColumnDef="storecity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
      <td mat-cell *matCellDef="let element">{{ element.storecity }}</td>
    </ng-container>
    <!-- State Column -->
    <ng-container matColumnDef="storestate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
      <td mat-cell *matCellDef="let element">{{ element.storestate }}</td>
    </ng-container>

    <!-- Total Column -->
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Total Videos Sent
      </th>
      <td mat-cell *matCellDef="let element">
        <a
          routerLink="/statistics/stores/{{ element.store?.id }}"
          routerLinkActive="active-link"
          >{{ element.total }}</a
        >
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
