<div>
  Select date range:
  <!-- <p-calendar
    [(ngModel)]="rangeDates"
    selectionMode="range"
    showButtonBar="true"
    [readonlyInput]="true"
    (onClose)="onClose($event)"
    (onSelect)="onSelect($event)"
    dateFormat="mm/dd/yy"
    [showIcon]="true"
  ></p-calendar> -->
  <mat-form-field>
    <input (click)=onselect()
      matInput
      [matDatepicker]="picker"
      (focus)="picker.open()"
      placeholder="from date"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      [matDatepicker]="picker2"
      (focus)="picker2.open()"
      placeholder="to date"
    />
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>
  <!-- <mat-chip-list>
    <mat-chip color="primary" selected>last week</mat-chip>
    <mat-chip color="primary" selected>last month</mat-chip>
    <mat-chip color="primary" selected>last 3 month</mat-chip>
    <mat-chip color="primary" selected>last year</mat-chip>
  </mat-chip-list> -->
</div>
