<div class="filter-row">
  <label>Select Date Range: </label>
  <span class="range range-from  ml-2">
    <mat-form-field appearance="outline">
      <mat-label>from</mat-label>
      <input
        matInput
        [(ngModel)]="startDate"
        [matDatepicker]="picker"
        (focus)="picker.open()"
        placeholder="from date"
        (dateChange)="onselect($event, 'from')"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </span>
  <span class="ml-2 mr-2">-</span>
  <span class="range range-to ml-2">
    <mat-form-field appearance="outline">
      <mat-label>to</mat-label>
      <input
        matInput
        [(ngModel)]="endDate"
        [matDatepicker]="picker2"
        (focus)="picker2.open()"
        (dateChange)="onselect($event, 'to')"
        placeholder="to date"
      />
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  </span>
  <span class="range ml-4">
    <mat-chip-list>
      <mat-chip color="primary" selected (click)="setDate(7)"
        >last week</mat-chip
      >
      <mat-chip color="primary" selected (click)="setDate(1)"
        >last month</mat-chip
      >
      <mat-chip color="primary" selected (click)="setDate(3)"
        >last 3 month</mat-chip
      >
      <mat-chip color="primary" selected (click)="setDate(12)"
        >last year</mat-chip
      >
    </mat-chip-list>
  </span>
</div>
