/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "primeng/resources/themes/omega/theme.css";
@import "primeng/resources/primeng.min.css";

router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 98%;
}

body {
  background: #dadada;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
.mat-cell a {
  color: black;
  &:hover {
    color: lightblue;
    text-decoration: none;
  }
}
.title {
  // background: #343a40;
  // color: lightgrey;
  // line-height: 2em;
}
.mat-header-cell {
  color: rgba(0, 0, 0, 0.87);
}

// maps
.agm-info-window-content {
  font-weight: 400;
  font-size: small;
  display: inline-block;
  padding: 4px 0px 0px 4px;
  line-height: 1.4em;
}
.gm-style .gm-style-iw-c {
  padding: 10px 0px;
}
