/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "primeng/resources/themes/omega/theme.css";
@import "primeng/resources/primeng.min.css";
body {
  background: #c3c3c399;
}
.imgRespId {
  width: 110px;
  background: white;
}
router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}