<!-- <h1>Hi {{ currentUser.username }}!</h1> -->

<!-- <ul>
    <li *ngFor="let user of users">
        {{user.name}} ({{user.email}} {{user.phone}})
        - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li>
</ul> -->

<mat-form-field>
  <input
    matInput
    (keyup)="applyFilter($event.target.value)"
    placeholder="Filter"
  />
</mat-form-field>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>
  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
    <td mat-cell *matCellDef="let element">{{ element.email }}</td>
  </ng-container>
  <!-- Phone Column -->
  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
    <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
  </ng-container>

  <!-- Barcode Column -->
  <ng-container matColumnDef="barcode">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Barcode</th>
    <td mat-cell *matCellDef="let element">
      <a
        routerLink="/statistics/jewellery/{{ element.barcode }}"
        routerLinkActive="active-link"
        >{{ element.barcode }}</a
      >
    </td>
  </ng-container>
  <!-- Sales person Column -->
  <ng-container matColumnDef="sales_person">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Sales person</th>
    <td mat-cell *matCellDef="let element">
      <a
        routerLink="/statistics/sales/{{ element.sales_person?.id }}"
        routerLinkActive="active-link"
        >{{ element.sales_person?.firstName }}
        {{ element.sales_person?.lastName }}</a
      >
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
